#EditUserModalForm.modal.fade{role: 'dialog'}
  .modal-dialog
    .modal-content
      = bootstrap_form_for(current_user, :url => registration_path(:user), :html => { :method => :put }) do |f|
        .modal-header
          %h4 Alterar cadastro
        .modal-body
          = f.email_field :email, :required => true, :autofocus => true
          - if Devise.mappings[:user].confirmable? && current_user.pending_reconfirmation?
            %p
              Currently waiting confirmation for: #{current_user.unconfirmed_email}
          = f.password_field :password, label: 'Nova senha', :autocomplete => "off", :hint => "deixe em branco caso não queira alterar a senha", :required => false
          = f.password_field :password_confirmation, label: 'Confirme a senha', :required => false
          = f.password_field :current_password, label: 'Senha atual', :hint => "nós precisamos da sua senha atual para confirmar suas mudanças", :required => true
        .modal-footer
          %button.btn.btn-primary{value: "submit"} Atualizar
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Fechar
