= simple_form_for @period do |f|
  - if @period.errors.any?
    #error_explanation
      %h2= "#{pluralize(@period.errors.count, "error")} prohibited this period from being saved:"
      %ul
        - @period.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :init_date, as: :date_picker
  .field
    = f.input :final_date, as: :date_picker
  .field
    = f.input :number
  .actions
    = f.submit 'Save'

:javascript
  $(function() {
    $('.datepicker').datetimepicker({
      language: 'pt-BR'
      showMeridian: true
    });
  });
