-#= bootstrap_form_for @period do |f|
  = f.date_field :start_date, label: 'Data inicial', required: true#, :"data-errormessage-value-missing" => "Por favor, preencha este campo."#,  as: :date_picker
  = f.date_field :end_date, label: 'Data final', required: true#, :"data-errormessage-value-missing" => "Por favor, preencha este campo."#, as: :date_picker
  = f.number_field :number, in: 1..20, label: 'Numero do periodo', required: true, :"data-errormessage-type-mismatch" => "Invalido.", help: "O numero do periodo deve estar ente 1 e 20."#, :"data-errormessage-value-missing" => "Por favor, preencha este campo.", :"data-errormessage-type-mismatch"=> "Invalido."
  %button.btn.btn-primary{:type => "submit"} Salvar
  - if dom_id == 'new'
    = link_to 'Cancelar', periods_path, class: "btn btn-warning"
  - elsif dom_id == 'edit_current'
    = link_to 'Cancelar', periods_path, class: "btn btn-warning"
  - elsif dom_id == 'edit'
    = link_to 'Cancelar', period_subjects_path(@period), class: "btn btn-warning"
  /- unless dom_id == 'new'
  /  = link_to 'Deletar periodo', @period, method: :delete, data: { confirm: 'Tem certeza que deseja deletar o periodo?' }, class: "btn btn-danger"
  %br
  %br
