.col-xs-12.col-md-5
  %table.table.table-striped
    %thead.grey
      %tr
        %th= "Disciplinas"
        %th= "Notas"
    %tbody
      %tr
      - @period.subjects.each do |subject|
        %tr
          %td= link_to subject.name, period_subject_path(@period, subject)
          %td= "#{trim(subject.grade)} / #{subject.value}"

.col-xs-12.col-md-5
  -if (@period != [] && @period.subjects.count < 2)
    %h5.centertext= "Adicione pelo menos duas disciplinas para visualizar o gráfico do seu rendimento"
  -else
    %h5
    %canvas#canvas
