=include_gon

-#header
  .container
    .dropdown
      %button.btn.dropdown-toggle{"data-toggle" => "dropdown", :type => "button", style: 'background-color: transparent;'}
        %h1.inline Outros periodos
        &nbsp
        %span.fa.fa-angle-down{style: 'font-size: 2em;'}
      %ul.dropdown-menu
        %li.dropdown-header Adicionar
        %li
          %a{href: "#", "data-target" => "#PeriodModalForm", "data-toggle" => "modal"} Periodo
%br

- @other_periods.each do |period|
  = render partial: 'subjects/modal', locals:{ period: period }
  = render partial: 'modal_edit', locals:{ period: period }
  #other_period_header
    .container
      .row
        .col-xs-2
          .dropdown
            %button.btn.dropdown-toggle{"data-toggle" => "dropdown", :type => "button", style: 'background-color: transparent;'}
              %h4.inline #{period.number}º Período
              &nbsp
              %span.fa.fa-angle-down{style: 'font-size: 1.3em;'}
            -#%a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              #{period.number}º Período
              %b.caret
            %ul.dropdown-menu
              %li.dropdown-header Adicionar
              %li
                %a{href: "#", "data-target" => "##{dom_id(period, :subject)}", "data-toggle" => "modal"} Disciplina
              %li.divider
              %li
                %a{href: "#", "data-target" => "##{dom_id(period, :edit_period)}", "data-toggle" => "modal"} Editar
              %li.divider
              %li= link_to 'Deletar', period, method: :delete, data: { confirm: 'Tem certeza que deseja deletar o período?' }
  %br
  -if period.subjects.count >= 1
    .container
      = render partial: 'periods/subjectstable', locals: { period: period }
  -else
    %p= 'Este periodo nao possui disciplinas'
