%table.table.table-striped
  %thead
    %tr
      %td= 'Outros períodos'
  %tbody
    %tr
    - @periods.each do |period|
      - unless period.current_period
        %tr
          %td.period
            = link_to "Period #{period.number}", period_subjects_path(period)
            .btn-group.butt
              = link_to 'Editar período', edit_period_path(period), class: "btn btn-small"
              = link_to 'Deletar período', period, method: :delete, data: { confirm: 'Tem certeza que deseja deletar o período?' }, class: "btn btn-small"
%br
= link_to 'Novo período', new_period_path, class: "btn"
