%table.table.table-striped
  - @periods.each do |period|
    - if period.current_period
      %h2.period
        = "Período #{period.number}"
      .btn-group.butt
        = link_to 'Editar período', edit_period_path(period), class: "btn btn-small"
        = link_to 'Deletar período', period, method: :delete, data: { confirm: 'Tem certeza que deseja deletar o período?' }, class: "btn btn-small"
    %thead
      %tr
        - if period.current_period
          %td= "Disciplinas"
          %td= "Notas"
    %tbody
      - if period.current_period
        - period.subjects.each do |subject|
          %tr
            %td= link_to subject.name, period_subject_path(period, subject)
            %td= "#{subject.grade} / #{subject.value}"

%table.table.table-striped
  %h2 Calendario Semanal
  %thead
    %tr
      %th Domingo
      %th Segunda
      %th Terca
      %th Quarta
      %th Quinta
      %th Sexta
      %th Sabado
  %tbody
    %td
      - @subjects.each do |subject|
        - subject.events.each do |event|
          - if event.weekday == 0
            = link_to subject.name, period_subject_event_path(@period, subject, event)
            = subject.name
            = event.formatted_init_time
            = "-"
            = event.formatted_final_time
            %br

    %td
      - @subjects.each do |subject|
        - subject.events.each do |event|
          - if event.weekday == 1
            = link_to subject.name, period_subject_event_path(@period, subject, event)
            = event.formatted_init_time
            = "-"
            = event.formatted_final_time
            %br

    %td
      - @subjects.each do |subject|
        - subject.events.each do |event|
          - if event.weekday == 2
            = link_to subject.name, period_subject_event_path(@period, subject, event)
            = event.formatted_init_time
            = "-"
            = event.formatted_final_time
            %br

    %td
      - @subjects.each do |subject|
        - subject.events.each do |event|
          - if event.weekday == 3
            = link_to subject.name, period_subject_event_path(@period, subject, event)
            = event.formatted_init_time
            = "-"
            = event.formatted_final_time
            %br

    %td
      - @subjects.each do |subject|
        - subject.events.each do |event|
          - if event.weekday == 4
            = link_to subject.name, period_subject_event_path(@period, subject, event)
            = event.formatted_init_time
            = "-"
            = event.formatted_final_time
            %br

    %td
      - @subjects.each do |subject|
        - subject.events.each do |event|
          - if event.weekday == 5
            = link_to subject.name, period_subject_event_path(@period, subject, event)
            = event.formatted_init_time
            = "-"
            = event.formatted_final_time
            %br

    %td
      - @subjects.each do |subject|
        - subject.events.each do |event|
          - if event.weekday == 6
            = link_to subject.name, period_subject_event_path(@period, subject, event)
            = event.formatted_init_time
            = "-"
            = event.formatted_final_time
            %br
- @periods.each do |period|
  - if period.current_period
    = link_to "Adicionar disciplina", new_period_subject_path(period)
    \|
=link_to "Novo período", new_period_path

