=include_gon
= render partial: 'periods/modal'

.container
  -if @period && !@period.subjects.empty?
    = render partial: 'periods/modal_edit', locals: { period: @period }
    .container-fluid
      .row
        .col-xs-12
          %br
          /.col-md-7
          #calendar
        = render partial: 'periods/subjectstable', locals: { period: @period }
        -#.col-xs-12
          %ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
            - @period.subjects.each do |subject|
              %li
                %a{"data-toggle" => "tab", :href => "#red"} #{subject.name}
          #my-tab-content.tab-content
            - @period.subjects.each do |subject|
              #red.tab-pane
                %h1 Red
                %p red red red red red red
  -elsif @period
    = render partial: 'subjects/modal', locals: { period: @period }
    %div{:style => 'text-align:center;'}
      %h4= 'Agora adicione as disciplinas'
      %button.btn{'data-target' => '#SubjectModalForm', 'data-toggle' => 'modal', :type => 'button'} Adicionar disciplina
      /%h4= link_to '<i class='glyphicon glyphicon-plus'></i> Adicionar disciplina'.html_safe, new_period_subject_path(@period), class: 'btn btn-primary'
  -else
    %div{:style => 'text-align:center;'}
      %h4= 'Comece adicionando um periodo'
      %button.btn{'data-target' => '#PeriodModalForm', 'data-toggle' => 'modal', :type => 'button'} Adicionar periodo
    /%h4= link_to '<i class='glyphicon glyphicon-plus'></i> Adicionar período'.html_safe, new_period_path, class: 'btn btn-primary'
