%table.table.table-striped
  - @periods.each do |period|
    - if period.current_period
      %h2.period
        = "Período #{period.number}"
        .btn-group.butt
          = link_to 'Editar período', edit_period_path(period), class: "btn btn-small"
          = link_to 'Deletar período', period, method: :delete, data: { confirm: 'Tem certeza que deseja deletar o período?' }, class: "btn btn-small"
    %thead
      %tr
        - if period.current_period
          %td= "Disciplinas"
          %td= "Notas"
    %tbody
      - if period.current_period
        - period.subjects.each do |subject|
          %tr
            %td= link_to subject.name, period_subject_path(period, subject)
            %td= "#{subject.grade} / #{subject.value}"

- @periods.each do |period|
  - if period.current_period
    = link_to "Adicionar disciplina", new_period_subject_path(period)
\|
=link_to "Novo período", new_period_path

