=include_gon

-unless @dados["periods"] == []
  .container-fluid
    .row
      .col-xs-3
        %h4 Calendario Semanal
      .col-xs-1
        = link_to "Hoje", { date: Date.today.beginning_of_week }, class: "btn btn-default"
      .col-xs-2
        %p
          .btn-group
            = link_to "<", { date: @date.prev_week }, class: "btn btn-default"
            = link_to ">", { date: @date.next_week }, class: "btn btn-default"
      .col-xs-4
        %h4.align-left
          = @date.strftime("%B %Y")
      .col-xs-4.align-right
        %ul.legenda.bottom
          %li
            %span.box.azul
              Prova
          %li
            %span.box.amarelo
              Trabalho
          %li
            %span.box.verde
              Prova e trabalho

  - if @dados["init_times"] == []
    %td= "Adicione os horários das disciplinas para visualizar o calendário"
  - else
    .container-fluid
      .row
        - if @dados["subjects"]
          %table.table.table-striped.table_border
            %tr
              %th
                - n = 0
                - (Date::DAYNAMES).each do |dayname|
                  %th.table-font
                    #{dayname}
                    %br
                    %font{size: "2"} #{(@date+n-1).strftime("%d")}
                  - n += 1


            - @dados["init_times"].each do |init_time|
              %tr
                %th{scope: "row"} #{init_time}
                - n = 0
                - @dados["events"].each do |event|
                  - if event.formatted_init_time == init_time
                    - while n <= event.weekday
                      = calendar_events(@dados["tests"], event, n)
                      - n += 1
                - while n <= 6
                  %td
                  - n += 1

  .container-fluid
    %hr
    .row
      .col-xs-6
        %table.table.table-striped.table_border
          %thead.grey
            %tr
              %th= "Disciplinas"
              %th= "Notas"
          %tbody
            %tr
            - @dados["subjects"].each do |subject|
              %tr
                %td= link_to subject.name, period_subject_path(@dados["period"], subject)
                %td= "#{subject.grade} / #{subject.value}"

      .col-xs-6
        %h5
        %canvas#canvas{:height => "170", :width => "260"}

-else
  %br
  %br
  %br
  %br
  = link_to "Criar periodo", new_period_path, class: "btn btn-small"

:javascript

  var subjectNames = new Array();
  var subjectGrades = new Array();
  var averageGrades = new Array();

  for(var i = 0; i < gon.subjects.length; i++){
   subjectNames.push(gon.subjects[i].name)
   subjectGrades.push(gon.subjects[i].grade)
   averageGrades.push(60)
  };

  data = {
    labels : subjectNames,
    datasets : [
      {
        fillColor : "rgba(100,100,180,0.5)",
        strokeColor : "rgba(100,100,180,1)",
        pointColor : "rgba(100,100,180,1)",
        pointStrokeColor : "#fff",
        data : subjectGrades
      },
      {
        fillColor : "rgba(220,50,50,0.3)",
        strokeColor : "rgba(220,50,50,1)",
        pointColor : "rgba(220,50,50,1)",
        pointStrokeColor : "#fff",
        data : averageGrades
        data : averageGrades
      }
    ]
  }

  var ctx = document.getElementById("canvas").getContext("2d");
  var myNewChart = new Chart(ctx).Line(data);

  var options = {
    scaleOverride   : true,
    scaleSteps      : 10,
    scaleStepWidth  : 10,
    scaleStartValue : 0,
    datasetFill : false
  }

