=include_gon

-if @period && @period.subjects.count >= 1
  - tab("period")
  .container-fluid
    .row
      .col-xs-12.col-md-7
        #calendar
      = render "periods/subjectstable"
-elsif @period
  %h4.centertext= "Agora adicione as disciplinas"
  %h4.centertext= link_to '<i class="glyphicon glyphicon-plus"></i> Adicionar disciplina'.html_safe, new_period_subject_path(@period), class: 'btn btn-primary'

-else
  %h4.centertext= "Começe adicionando um período"
  %h4.centertext= link_to '<i class="glyphicon glyphicon-plus"></i> Adicionar período'.html_safe, new_period_path, class: 'btn btn-primary'
