- require 'date'
%table.table.table-striped
  - @periods.each do |period|
    - if period.current_period
      %h2.period
        = "Período #{period.number}"
      .btn-group.butt
        = link_to 'Editar período', edit_period_path(period), class: "btn btn-small"
        = link_to 'Deletar período', period, method: :delete, data: { confirm: 'Tem certeza que deseja deletar o período?' }, class: "btn btn-small"
    %thead
      %tr
        - if period.current_period
          %th= "Disciplinas"
          %th= "Notas"
    %tbody
      - if period.current_period
        - period.subjects.each do |subject|
          %tr
            %td= link_to subject.name, period_subject_path(period, subject)
            %td= "#{subject.grade} / #{subject.value}"

- @periods.each do |period|
  - if period.current_period
    = link_to "Adicionar disciplina", new_period_subject_path(period)

- if @subjects
  %table.table.table-striped
    %h2 Calendario Semanal
    %tr
      %th
        - (Date::DAYNAMES).each do |dayname|
          %th #{dayname}
        -#- for n in 0..6 do
          %th #{(Date.today+n).strftime("%A")}
    - @init_times.each do |init_time|
      %tr
        %th{scope: "row"} #{init_time}
        - n = 0
        - @events.each do |event|
          - if event.formatted_init_time == init_time
            - while n <= event.weekday.to_i
              - if event.weekday.to_i == n
                - @subjects.each do |subject|
                  - if subject.id == event.subject_id
                    %td #{subject.name}
              - else
                %td
              - n += 1
    -#%tbody
      - for n in 0..6 do
        %td
          - @events.each do |event|
            - if event.weekday.to_i == (Date.today+n).strftime("%w").to_i
              - @subjects.each do |subject|
                - if subject.id == event.subject_id
                  = link_to subject.name, period_subject_event_path(@period, subject.id, event.id)
              = "#{event.formatted_init_time} - #{event.formatted_final_time}"
              %br

=link_to "Novo período", new_period_path

