%p#notice= notice

%p
  %b Init date:
  = @period.start_date
%p
  %b Final date:
  = @period.end_date
%p
  %b Number:
  = @period.number

= link_to 'Edit', edit_period_path(@period)
\|
= link_to 'Back', periods_path
