= simple_form_for([@period, @subject, @event]) do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :weekday
    = f.select :weekday, Date::DAYNAMES.zip((0..6).to_a)
  .field
    = f.input :init_time, as: :time_picker
  .field
    = f.input :final_time, as: :time_picker
  .field
    = f.input :recurrent
  .actions
    = f.submit 'Save'

:javascript
  $(function() {
    $('.timepicker').datetimepicker({
      language: 'pt-BR'
      showMeridian: true
    });
  });
