.modal.fade{:role => "dialog", id: "#{dom_id(event)}"}
  .modal-dialog
    / Modal content
    .modal-content
      = bootstrap_form_for [subject, event] do |f|
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"}
          %h4.modal-title Editar aula
        .modal-body
          .container-fluid
            = f.select :weekday, Date::DAYNAMES.zip((0..6).to_a), label: 'Dia da semana'
            = f.select :every, [["Semanal", "week"], ["Diaria", "day"], ["Mensal", "month"]], label: 'Repeticao'
            .row
              .col-xs-6
                = f.time_field :start_time, label: 'Horario de inicio', default: {minute: '00' }#, as: :time_picker
              .col-xs-6
                = f.time_field :end_time, label: 'Horario de termino', default:{minute: '00'}#, as: :time_picker
        .modal-footer
          /%button.btn.btn-primary{type: 'submit'} Salvar
          = button_to 'Salvar', type: 'submit', class: 'btn btn-primary'
          = button_to 'Deletar', subject_event_path(subject, event), method: :delete, data: { confirm: 'Voce tem certeza que deseja excluir a aula?' }, class: 'btn btn-danger'
          /%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Fechar
