%h1 Listing events

%table
  %tr
    %th Weekday
    %th Init time
    %th Final time
    %th Recurrent
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.weekday
      %td= event.init_time
      %td= event.final_time
      %td= event.recurrent
      %td= link_to 'Show', period_subject_event_path(@period, @subject, @event)
      %td= link_to 'Edit', edit_period_subject_event_path(@period, @subject, event)
      %td= link_to 'Destroy', period_subject_event_path(@period, @subject, event), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Event', new_period_subject_event_path(@period, @subject)
