%h1 Listing projects

%table
  %tr
    %th Date
    %th Value
    %th Grade
    %th Note
    %th
    %th
    %th

  - @projects.each do |project|
    %tr
      %td= project.date
      %td= project.value
      %td= project.grade
      %td= project.note
      %td= link_to 'Show', period_subject_project_path(@period, @subject, project)
      %td= link_to 'Edit', edit_period_subject_project_path(@period, @subject, project)
      %td= link_to 'Destroy', period_subject_project_path(@period, @subject, project), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Project', new_period_subject_project_path(@period, @subject)
