%p#notice= notice

%p
  %b Date:
  = @project.date
%p
  %b Value:
  = @project.value
%p
  %b Grade:
  = @project.grade
%p
  %b Note:
  = @project.note

= link_to 'Edit', edit_period_subject_project_path(@period, @subject, @project)
\|
= link_to 'Back', period_subject_projects_path(@period, @subject)
