- unless tests.empty?
  %table.table.table-striped.table-condensed{:style => 'border-collapse:collapse;'}
    %thead
      %tr
        - if tests.first.is_project
          %th Trabalhos
        - else
          %th Provas
    %tbody
      - tests.each do |test|
        %tr.accordion-toggle{'data-target' => "##{test.id}", 'data-toggle' => 'collapse'}
          %td
            - if test.date > Date.today
              %a#popoverData.btn{"data-content" => "Popover with data-trigger", "data-html" => "true", "data-original-title" => "#{test.date.strftime('%d de %B, %Y')}", "data-content" => "Valor: #{test.value} <br> Materia: #{test.note}", "data-placement" => "bottom", "data-trigger" => "hover", :href => "#", :rel => "popover"} #{test.date.strftime('%d de %B, %Y')}
            - else
              %a#popoverData.btn{"data-content" => "Popover with data-trigger", "data-html" => "true", "data-original-title" => "#{test.date.strftime('%d de %B, %Y')}", "data-content" => "Valor: #{test.value} <br> Nota: #{test.grade} <br> Materia: #{test.note}", "data-placement" => "bottom", "data-trigger" => "hover", :href => "#", :rel => "popover"} #{test.date.strftime('%d de %B, %Y')}
          %td
            .dropdown.align-right
              %a.btn.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
                %b.caret
              %ul.dropdown-menu
                %li= link_to '<i class="glyphicon glyphicon-pencil"></i> Editar'.html_safe, edit_subject_test_path(test.subject_id, test)
                %li.divider
                %li= link_to '<i class="glyphicon glyphicon-trash"></i> Deletar'.html_safe, subject_test_path(test.subject_id, test), method: :delete, data: { confirm: 'Voce tem certeza que deseja excluir essa prova?' }
