# encoding: utf-8
=include_gon
= render partial: 'events/modal', locals: { period: @period, subject: @subject }
= render partial: 'tests/modal', locals: { period: @period, subject: @subject }
= render partial: 'modal_edit', locals: { period: @period, subject: @subject }
.container-fluid
  .row
    .col-xs-2
      /%h3= @subject.name
      .dropdown
        %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
          #{@subject.name}
          %span.caret
        %ul.dropdown-menu
          %li.dropdown-header Adicionar
          %li
            %a{href: "#", "data-target" => "#TestModalForm", "data-toggle" => "modal"} Prova
          %li
            %a{href: "#", "data-target" => "#ProjectModalForm", "data-toggle" => "modal"} Trabalho
          %li
            %a{href: "#", "data-target" => "#EventModalForm", "data-toggle" => "modal"} Aula
          %li.divider
          %li
            %a{href: "#", "data-target" => "#EditSubjectModalForm", "data-toggle" => "modal"} Editar
    -#.col-xs-1
      .dropdown.align-left
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          %i.fa.fa-plus{ style: 'font-size:1.5em;' }
        %ul.dropdown-menu
          %li
            %a{href: "#", "data-target" => "#TestModalForm", "data-toggle" => "modal"} Prova
          %li.divider
          %li
            %a{href: "#", "data-target" => "#ProjectModalForm", "data-toggle" => "modal"} Trabalho
          %li.divider
          %li
            %a{href: "#", "data-target" => "#EventModalForm", "data-toggle" => "modal"} Aula
      %a.fa.fa-pencil-square-o{href: "#", "data-target" => "#EditSubjectModalForm", "data-toggle" => "modal"}
      /%li.fa.fa-pencil-square-o= link_to '<i class="glyphicon glyphicon-pencil"></i> Editar'.html_safe, edit_period_subject_path(@period, @subject)

.container-fluid
  .row
    .col-xs-12.col-md-3
      = render partial: 'tests_table', locals: { subject: @subject, tests: @subject.tests_only }
    .col-xs-12.col-md-3
      = render partial: 'tests_table', locals: { subject: @subject, tests: @subject.projects }
    .col-xs-12.col-md-3
      - unless @subject.events.empty?
        %table.table.table-striped.table_border
          %thead
            %tr
              %th Aulas
          %tbody
            %tr
              - @subject.events.each do |event|
                %tr
                  %td
                    = "#{Date::DAYNAMES[event.start_date.wday]} #{event.start_time.strftime('%H:%M')} - #{event.end_time.strftime('%H:%M')}"
                  %td
                    .dropdown.align-right
                      %a.btn.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
                        %b.caret
                      %ul.dropdown-menu
                        %li= link_to '<i class="glyphicon glyphicon-pencil"></i> Editar'.html_safe, edit_subject_event_path(@subject, event)
                        %li.divider
                        %li= link_to '<i class="glyphicon glyphicon-trash"></i> Deletar'.html_safe, subject_event_path(@subject, event), method: :delete, data: { confirm: 'Voce tem certeza que deseja excluir a aula?' }
      /%br
      -#.panel.panel-primary
        .panel-heading Adicionar
        .panel-body
          .bs-component
            %button.btn{'data-target' => '#TestModalForm', 'data-toggle' => 'modal', :type => 'button'} Prova
            %button.btn{'data-target' => '#ProjectModalForm', 'data-toggle' => 'modal', :type => 'button'} Trabalho
            %button.btn{'data-target' => '#EventModalForm', 'data-toggle' => 'modal', :type => 'button'} Aula
    .col-xs-12.col-md-3
      /%h5 Aproveitamento
      %canvas#aproveitamento{:height => '200', :width => '200'}
