# encoding: utf-8
=include_gon

.container-fluid
  .row
    .col-xs-2
      %h3= @subject.name
    .col-xs-1
      .dropdown.align-left
        %a.btn.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          %b.caret
        %ul.dropdown-menu
          %li= link_to '<i class="glyphicon glyphicon-pencil"></i> Editar'.html_safe, edit_period_subject_path(@period, @subject)
          %li.divider
            %li= link_to '<i class="glyphicon glyphicon-trash"></i> Deletar'.html_safe, period_subject_path(@period, @subject), method: :delete, data: { confirm: 'Voce tem certeza que deseja excluir a disciplina?' }


-#.tabbable.tabs-left
  %ul.nav.nav-tabs
    %li
      %a{"data-toggle" => "tab", :href => "#lA"} Section 1
    %li
      %a{"data-toggle" => "tab", :href => "#lB"} Section 2
  .tab-content
    #lA.tab-pane
      %p I'm in Section A.
    = tests_table()

:javascript
  function show(id) {
    document.getElementById(id).style.visibility = "visible";
  }
  function hide(id) {
    document.getElementById(id).style.visibility = "hidden";
  }

.container-fluid
  .row
    .col-xs-8
      %table.table.table-striped.table_border
        %thead.grey
          - if @dados["tests"] == []
            - if @dados["projects"] == []
              %td.table_border= "Essa disciplina ainda não tem provas nem trabalhos"
            - else
              %td.table_border= "Essa disciplina ainda não tem provas"
          - else
            %th Provas
            %th Nota
            %th Materia
            %th

        %tbody
          %tr
            - @dados["tests"] = @dados["tests"].sort_by &:date
            - @dados["tests"].each do |test|
              %tr
                %td.datewidth
                  = formatted_date(test.date)
                %td.gradewidth
                  #{test.grade} / #{test.value}
                %td
                  #{test.note}
                %td
                  .dropdown.align-right
                    %a.btn.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                      %b.caret
                    %ul.dropdown-menu
                      %li= link_to '<i class="glyphicon glyphicon-pencil"></i> Editar'.html_safe, edit_period_subject_test_path(@period, @subject, test)
                      %li.divider
                      %li= link_to '<i class="glyphicon glyphicon-trash"></i> Deletar'.html_safe, period_subject_test_path(@period, @subject, test), method: :delete, data: { confirm: 'Voce tem certeza que deseja excluir essa prova?' }
      %br
      %table.table.table-striped.table_border
        %thead.grey
          %tr
            - if @dados["projects"] == []
              -unless @dados["tests"] == []
                %td.table_border= "Essa disciplina ainda não tem trabalhos"
            - else
              %th Trabalhos
              %th Nota
              %th Detalhes
              %th
        %tbody
          - @dados["projects"] = @dados["projects"].sort_by &:date
          - @dados["projects"].each do |project|
            %tr
              %td.datewidth
                = formatted_date(project.date)
              %td.gradewidth
                #{project.grade} / #{project.value}
              %td
                #{project.note}
              %td
                .dropdown.align-right
                  %a.btn.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to '<i class="glyphicon glyphicon-pencil"></i> Editar'.html_safe, edit_period_subject_test_path(@period, @subject, project)
                    %li.divider
                    %li= link_to '<i class="glyphicon glyphicon-trash"></i> Deletar'.html_safe, period_subject_test_path(@period, @subject, project), method: :delete, data: { confirm: 'Voce tem certeza que deseja excluir esse trabalho?' }
      %br
      %table.table.table-striped.table_border
        %thead
          %tr.grey
            %th Aulas
            %th
        %tbody
          %tr
            - @dados["events"].each do |event|
              %tr
                %td
                  /= "#{Date::DAYNAMES[event.weekday]} #{event.init_time.strftime("%H:%M")} - #{event.final_time.strftime("%H:%M")}"
                  = event.dates
                %td
                  .dropdown.align-right
                    %a.btn.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                      %b.caret
                    %ul.dropdown-menu
                      %li= link_to '<i class="glyphicon glyphicon-pencil"></i> Editar'.html_safe, edit_period_subject_event_path(@period, @subject, event)
                      %li.divider
                      %li= link_to '<i class="glyphicon glyphicon-trash"></i> Deletar'.html_safe, period_subject_event_path(@period, @subject, event), method: :delete, data: { confirm: 'Voce tem certeza que deseja excluir a aula?' }
      %br
      //.btn-group.btn-block
      .bs-component
        = link_to 'Nova prova', new_period_subject_test_path(@period, @subject), class: "btn btn-default"
        = link_to 'Novo trabalho', trabalho_path(@period, @subject), class: "btn btn-default"
        = link_to 'Nova aula', new_period_subject_event_path(@period, @subject), class: "btn btn-default"

    .col-xs-4
      /%h5 Aproveitamento
      %canvas#canvas{:height => "300", :width => "450"}

:javascript


  var subjectPercentage = Math.round( (gon.subject.grade / gon.subject.value)*100 );

  if (gon.subject.grade === 0)
  {
    subjectPercentage = 100;
  }

  data = [
    {
      value : 100 - subjectPercentage,
      color : "#E0E4CC"
    },
    {
      value : subjectPercentage,
      color : "#69D2E7"
    }
        ];

  var ctx = document.getElementById("canvas").getContext("2d");
  var myNewChart = new Chart(ctx).Doughnut(data);

  new Chart(ctx).Dounghnut(data);




