# encoding: utf-8
=include_gon
= render partial: 'events/modal', locals: { period: @period, subject: @subject }
= render partial: 'tests/modal', locals: { period: @period, subject: @subject }
= render partial: 'modal_edit', locals: { period: @period, subject: @subject }
#header
  .container
    .dropdown
      %button.btn.dropdown-toggle{"data-toggle" => "dropdown", :type => "button", style: 'background-color: transparent;'}
        %h1.inline= @subject.name
        &nbsp
        %span.fa.fa-angle-down{style: 'font-size: 2em;'}
      %ul.dropdown-menu
        %li.dropdown-header Adicionar
        %li
          %a{href: "#", "data-target" => "#TestModalForm", "data-toggle" => "modal"} Prova
        %li
          %a{href: "#", "data-target" => "#ProjectModalForm", "data-toggle" => "modal"} Trabalho
        %li
          %a{href: "#", "data-target" => "#EventModalForm", "data-toggle" => "modal"} Aula
        %li.divider
        %li
          %a{href: "#", "data-target" => "#EditSubjectModalForm", "data-toggle" => "modal"} Editar

.container
  .row
    %br
    #subject_flatable
      = render partial: 'tests_table', locals: { subject: @subject, tests: @subject.tests_only }
      = render partial: 'tests_table', locals: { subject: @subject, tests: @subject.projects }
      - unless @subject.events.empty?
        .col-xs-12.col-md-3
          %table.table.table-striped
            %thead
              %tr
                %th Aulas
            %tbody
              - @subject.events.each do |event|
                = render partial: 'events/modal_edit', locals: { subject: @subject, event: event }
                %tr
                  %td
                    = "#{Date::DAYNAMES[event.start_date.wday]} #{event.start_time.strftime('%H:%M')} - #{event.end_time.strftime('%H:%M')}"
                    %a.fa.fa-pencil-square-o{href: "#", "data-target" => "##{dom_id(event)}", "data-toggle" => "modal"}
      .col-xs-12.col-md-3.pull-right
        /%h4.text-center Aproveitamento
        %canvas#aproveitamento{:height => '200', :width => '200'}
