.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand
        Agenda Universitaria
    .container.nav-collapse
      %ul.nav.pull-right
        = form_for(:user, :url => session_path(:user), html: { class: "navbar-form navbar-right form-inline" }) do |f|
          .form-group
            = f.text_field :email, :placeholder => "Email", class: "form-control"
            %br
            .checkbox
              = f.check_box :remember_me
              = f.label :remember_me
          .form-group
            = f.password_field :password, :placeholder => "Senha", class: "form-control"
            %br
            = link_to "Esqueceu sua senha?", new_password_path(:user)
          = f.submit 'Entrar', class: "btn btn-default"

        -#= form_tag session_path(:user) do
          = text_field_tag 'user[email]', placeholder="Email"
          = password_field_tag 'user[password]', placeholder="Senha"
          = check_box_tag 'user[remember_me]'
          = label_tag 'user[remember_me]', 'Mantenha-me conectado'
          %button Entrar
          = link_to "Esqueceu sua senha?", new_password_path(:user)



