= simple_form_for([@period, @subject, @test]) do |f|
  - if @test.errors.any?
    #error_explanation
      %h2= "#{pluralize(@test.errors.count, "error")} prohibited this test from being saved:"
      %ul
        - @test.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :date, as: :datetime_picker
  .field
    = f.input :value
  .field
    = f.input :grade
  .field
    = f.input :note
  .actions.btn-group
    = f.button :submit, 'Salvar prova'
    = f.button :submit, 'Salvar trabalho'
