#TestModalForm.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
        %h4.modal-title Adicionar prova
      .modal-body
        = bootstrap_form_for [period, subject, Test.new] do |f|
          .container-fluid
            = f.datetime_local_field :date, label: 'Data'#, as: :datetime_picker
            .row
              .col-xs-6
                = f.number_field :value, label: 'Valor'
              .col-xs-6
                = f.number_field :grade, label: 'Minha nota', :step => 0.1
            = f.text_field :note, label: 'Detalhes'
            /%button.btn.btn-lg.btn-block.col-lg-2.btn-primary{:type => "submit"} Salvar prova
            %button.btn.btn-primary{:type => "submit"} Salvar
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Fechar
      /.modal-footer

#ProjectModalForm.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
        %h4.modal-title Adicionar trabalho
      .modal-body
        = bootstrap_form_for [period, subject, Test.new] do |f|
          .container-fluid
            = f.datetime_local_field :date, label: 'Data'#, as: :datetime_picker
            .row
              .col-xs-6
                = f.number_field :value, label: 'Valor'
              .col-xs-6
                = f.number_field :grade, label: 'Minha nota', :step => 0.1
            = f.text_field :note, label: 'Detalhes'
            = f.hidden_field :is_project, value: true
            %button.btn.btn-primary{:type => "submit"} Salvar
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Fechar
      /.modal-footer
