.modal.fade{:id => "#{dom_id(test)}", :role => "dialog"}
  .modal-dialog
    .modal-content
      = bootstrap_form_for [subject, test] do |f|
        .modal-header
          %h4.modal-title Editar prova
        .modal-body
          .container-fluid
            = f.datetime_local_field :date, label: 'Data'
            .row
              .col-xs-6
                = f.number_field :value, label: 'Valor'
              .col-xs-6
                = f.number_field :grade, label: 'Minha nota', :step => 0.1
            = f.text_field :note, label: 'Detalhes'

        .modal-footer
          = button_to 'Salvar', type: "submit", class: 'btn btn-primary'
          = button_to 'Deletar', subject_test_path(subject, test), method: :delete, data: { confirm: 'Voce tem certeza que deseja excluir a aula?' }, class: 'btn btn-danger'
          /%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Fechar
