= bootstrap_form_for([@period, @subject, @test]) do |f|
  = f.datetime_select :date, label: 'Data'#, as: :datetime_picker
  = f.number_field :value, label: 'Valor'
  = f.number_field :grade, label: 'Minha nota'
  = f.text_field :note, label: 'Detalhes'
  /%button.btn.btn-lg.btn-block.col-lg-2.btn-primary{:type => "submit", value: "Salvar trabalho"} Salvar trabalho
  /= f.submit 'Salvar trabalho'
  %button.btn.btn-primary{:name => "commit", :type => "submit", :value => "Salvar trabalho"} Salvar trabalho
  = link_to 'Cancelar', period_subject_path(@period, @subject), class: "btn btn-warning"
