%p#notice= notice

%p
  %b Date:
  = @test.date
%p
  %b Value:
  = @test.value
%p
  %b Grade:
  = @test.grade
%p
  %b Note:
  = @test.note

= link_to 'Edit', edit_period_subject_test_path(@period, @subject, @test)
\|
= link_to 'Back', period_subject_tests_path(@period, @subject)
